.navbar-light .navbar-brand {
  color: #fff;
}

.bg-light {
  background-color: #20dbfc  !important;
}

.home-icon{
  font-size: 20px;
  color: #074284;
  font-weight: 500;
  cursor: pointer;
}

.welcomeUser{
  display: inline-block;
  margin-right: 10px;
  text-transform: capitalize;
  font-weight: 600;
  text-shadow: 1px 1px 20px;
}
