<form action="#" name="myForm" method="post">
  <div class="container">
    <div class="row">
      <div class="well center-block col-md-10 col-sm-10 col-10 col-xl-6 col-lg-6">
        <div class="well-header">
          <h3 class="text-center"> Register Here! </h3>
          <hr>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <input type="text" placeholder="First Name" name="txtfname" class="form-control">

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <input type="text" placeholder="Last Name" name="txtlname" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <input type="text" placeholder="User Name" name="txtfname" class="form-control">

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-lock"></i>
                </div>
                <input type="password" minlength="8" maxlength="20" placeholder="Password" name="txtpass" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-lock"></i>
                </div>
                <input type="password" minlength="8" maxlength="20" placeholder="Confirm Password" name="txtpass" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-phone"></i>
                </div>
                <input type="number" minlength="10" maxlength="12" class="form-control" name="txtmobile" placeholder="Mobile No.">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-envelope"></i>
                </div>
                <input type="email" class="form-control" name="txtmail" placeholder="E-Mail">
              </div>
            </div>
          </div>
        </div>

        <div class="row widget">
          <div class="col-md-5 col-xs-5 col-sm-5">
            <button class="btn btn-warning btn-block"> Register </button>
          </div>
          <div class="offset-2"></div>
          <div class="col-md-5 col-xs-5 col-sm-5">
            <button class="btn btn-danger btn-block" routerLink="/login"> Login </button>
          </div>
        </div>
      </div>
    </div>
  </div>


</form>
