<div class="container-fluid board-container">
  <div class="row board-section">


    <div class="board col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let board of boards" [routerLink]="['/board', board._id]">
      <div class="board-content">
        {{board.board}}
      </div>
    </div>



    <div class="board-create col-sm-6 col-md-4 col-lg-3 col-xl-3" (click)="showCreateBoardPopup = !showCreateBoardPopup">
      <div class="board-content">
        Add New Board
        <i class="fas fa-plus-square"></i>
      </div>
    </div>

  </div>
</div>


<app-popup [(visible)]="showCreateBoardPopup">
  <input type="text" name="board" placeholder="Board Name" #newBoard>
  <button (click)="createBoard(newBoard.value)"> Create Board</button>
</app-popup>
